.bg01
  background-color: #F5F5F5

.bg02
  background-color: #F5EAD9

// TARJETA HOVER TEMA 1-3
.bg-degrade
  background: #A1D98C
  opacity: 1

.tarjeta-foto-hover
  position: relative
  overflow: hidden
  &:hover
    .tarjeta-foto-hover__tarjeta
      transform: translateY(0%)

  &__titulo
    position: absolute
    bottom: 0
    width: 100%
  &__tarjeta
    transition: transform 0.3s ease-in-out
    position: absolute
    bottom: 0
    width: 100%
    height: 100%
    transform: translateY(100%)  
.bg1
  background-color:   #FFCE7E
.bg2
  background-color: #F4F4F4
.bg3
  background-color: #A1D98C
  opacity: 0.9
.bg4
  background-color: #E6EEE3
.bg5
  background-color: #FFD63D
  border-radius: 10px
.bg10
  background-color: #5AE6DA
  border-radius: 10px
.bb
  width: 107px
//tema 2
.tarjeta.color-acento-botones
  background-color: #FCF9F4
.bg6
  background-color: #FFF3C6
.bg7
  background-color: #E1E9E8
.bg8
  background-color: #E2F4F6
.bg9
  background: linear-gradient(to right, #F5F5F5, white)
.bgt1
  background-image: url("../assets/curso/tema2/bg1.png") 
  background-repeat: no-repeat
.bgt2
  background-image: url("../assets/curso/tema2/bg2.png") 
  background-repeat: no-repeat
.bgt3
  background-image: url("../assets/curso/tema2/bg3.png") 
  background-repeat: no-repeat
.bgt4
  background-image: url("../assets/curso/tema2/bg4.png") 
  background-repeat: no-repeat
.bgt5
  background-image: url("../assets/curso/tema2/bg5.png") 
  background-repeat: no-repeat
.bgt6
  background-image: url("../assets/curso/tema2/bg6.png") 
  background-repeat: no-repeat
.lista-ol--cuadro__vineta
  color: #12263F

.tarjeta.tarjeta--azul.acordion__activo
  background-color: #BBDEAF
.tarjeta--azul
  background-color: #DCE9D7
